@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  /* outline: 1px solid green; */
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation,
.site-navigation-catalog,
.other-devices,
.hend-devices,
.video-devices,
.footer-social,
.brends-list,
.breadcrumbs,
.catalog-list,
.filter-option-list,
.devices-list,
.footer-site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-right {
  width: 561px;
  margin-left: auto;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  padding: 9px 23px 0 23px;
  text-align: center;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-label {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus+.search-button {
  visibility: visible;
}

.search-button {
  visibility: hidden;
}

.main-header {
  margin-top: 40px;
  padding-left: 60px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header-logo {
  position: relative;
  top: -18px;
}

.user-panel {
  display: flex;
  margin-bottom: 40px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 186px;
}

.catalog-body .main-navigation {
  min-height: 70px;
}

.link-text {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

/* .catalog-link{ - непонятно, может быть оставить, если site-navigation-catalog будет узким, то уедет вверхы
  width:500px;
} */
.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-catalog {
  display: none;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
  text-transform: none;
}

.main-navigation>a:hover~.site-navigation-catalog,
.main-navigation>a:focus~.site-navigation-catalog,
.site-navigation-catalog:hover,
.site-navigation-catalog:focus {
  display: flex;
  flex-wrap: wrap;
}

.all-devices {
  display: flex;
  flex-direction: column;
  min-width: 201px;
  padding-right: 58px;
}

.user-panel a,
.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-panel a:hover,
.user-panel a:focus,
.main-header-logo:hover,
.main-header-logo:focus,
.main-footer a:hover,
.main-footer a:focus {
  opacity: 0.6;
}

.main-navigation a:active,
.user-panel a:active,
.main-header-logo:active,
.main-footer a:active {
  opacity: 0.3;
}
.devices{
margin-bottom: 79px;
}
.devices-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.devices-item {
  display: flex;
  width: 160px;
  min-height: 243px;
  margin-right: 40px;
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 160px, #ffffff 160px);
}

.devices-item:nth-child(6n) {
    margin-right: 0px;
}
.devices-item:hover {
    background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
}
.devices-item-img {
  display: flex;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position-y: 29%;
  background-position-x: center;
}

.devices-item-img:active {
    opacity: 0.3;
}
.devices-item-link {
  padding-top: 195px;
  flex-grow: 1;
white-space: pre-line;
}

.item-vr {
  background-image: url("../img/popular-1.svg");
}
.item-ms {
  background-image: url("../img/popular-2.svg");
  background-position-y: 33%;
}
.item-ac{
  background-image: url("../img/popular-3.svg");
  background-position-y: 25%;
  background-position-x: 55%;
}
.item-fb{
  background-image: url("../img/popular-4.svg");
}
.item-sw{
  background-image: url("../img/popular-5.svg");
  background-position-y: 23%;
  background-position-x: 53%;
}
.item-kv{
  background-image: url("../img/popular-6.svg");
   background-position-x: 46%;
}


.services {
  min-height: 388px;
  margin-bottom: 93px;
  background-color: #e5e5e5;
}

.wrapper-services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e5e5e5;
}

.services-buttons {
  padding-top: 81px;
  width: 284px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 6px solid #000000;
}

.wrapper-services-button {
  padding-right: 118px;
  margin-bottom: 24px;
}

.services-button {
  min-width: 160px;
  border: 0;
  padding-top: 1px;
  padding-right: 12px;
  padding-left: 15px;
  background-color: transparent;
}

.services-button:hover,
.services-button:focus {
  outline: none;
}

.services-button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.wrapper-services-button:active {
  background-color: #000000;
}

.services-gradient {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.section-caption {
  margin: 0;
  padding: 0;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
  color: #000000;
}

.delivery-caption {
  margin-bottom: 30px;
}

.services-content {
  margin: 0;
  padding: 0;
  width: 876px;
  padding-left: 116px;
  padding-right: 65px;
  padding-top: 74px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* .services-image {
  margin-top: 11px;
  width: 136px;
  height: 164px;
} */
.services-image-delivery {
  margin-top: 11px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.services-image-warranty {
  margin-top: 11px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.services-image-credit {
  margin-top: 11px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.services-text {
  width: 426px;
}

.services-text p {
  margin: 0;
  padding: 0;
}

.brends {
  margin-bottom: 95px;
}

.brends-list {
  display: flex;
  justify-content: space-between;
}

.brends-list a,
.brends-list li {
  font-size: 0;
  line-height: 0;
}

.brend-item {
  opacity: 0.2;
}

.brend-item:hover {
  opacity: 1;
}

.wrapper-info-block {
  display: flex;
  justify-content: space-between;
}

.info-block {
  width: 580px;
  padding-top: 50px;
}

.info-block p {
  padding: 0;
  margin: 0;
  letter-spacing: normal;
}

.about-us p {
  padding-right: 105px;
  margin-bottom: 30px;
}

.info-block-caption {
  margin-bottom: 45px;
}

.delivery-company-list {
  margin: 68px 0px 59px 17px;
  padding: 0;
  list-style-type: circle;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #000000;
}

.delivery-company-item {
  position: relative;
  left: 17px;
}

.contacts {
  padding-left: 20px;
}

.contacts .map-text {
  margin-bottom: 40px;
}

.contacts .map {
  margin-bottom: 64px;
}

.info-link {
  min-width: 260px;
}

.catalog-caption {
  margin-top: 38px;
  margin-bottom: 23px;
  margin-left: 202px;
}

.breadcrumbs {
  display: flex;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.wrapper-filters {
  display: flex;
}

.filters {
  width: 469px;
}

.catalog {
  width: 971px;
}

.catalog-list {
  padding: 69px 140px 77px 73px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item-title {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.catalog-item {
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-option {
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #000000;
}

.main-footer {
  margin-top: 85px;
  min-height: 322px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-user-panel a {
  letter-spacing: 0.2px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.footer-address {
  width: 250px;
}

.footer-contacts {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.wrapper-footer-navigation {
  width: 900px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 641px;
  justify-content: center;
  margin-bottom: 49px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-navigation li {
  padding: 17px;
}

.wrapper-footer-navigation,
.wrapper-site-navigation {
  display: flex;
  flex-direction: column;
}

.footer-user-panel {
  text-align: right;
  margin-bottom: 25px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-logo-html {
  line-height: 0;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-phone-link {
  margin: 10px 0;
}
