@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "open_sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation,
.site-navigation-catalog,
.other-devices,
.hend-devices,
.video-devices,
.footer-social,
.brends-list,
.breadcrumbs,
.catalog-list,
.filter-option-list,
.devices-list,
.wrapper-filter-panel-item,
.paginator-list,
.footer-site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.container-right {
  width: 561px;
  margin-left: auto;
}

.feedback-button,
.filter-button,
.catalog-item-button,
.compare-button {
  background: none;
  border: none;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  padding: 9px 23px 0 23px;
  vertical-align: middle;
  text-align: center;
  background-image: -webkit-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  background-image: -o-linear-gradient(top, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  font-size: 0;
}

.search-form-label {
  display: inline-block;
  width: 30px;
  height: 41px;
  vertical-align: bottom;
  background-image: url("../img/search.svg");
  background-position: 3px 10px;
  background-repeat: no-repeat;
}

.search-form-input {
  width: 356px;
  height: 39px;
  margin: 0;
  margin-left: -30px;
  padding: 0 0 7px 39px;
  vertical-align: bottom;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-form-input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid black;
  outline: none;
}

.search-form-label:focus {
  border-bottom: 2px solid black;
}

.search-form-input:focus+.search-button {
  opacity: 1;
}

.search-form-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search-form-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.search-form-input::-webkit-search-decoration,
.search-form-input::-webkit-search-cancel-button,
.search-form-input::-webkit-search-results-button,
.search-form-input::-webkit-search-results-decoration {
  display: none;
}

.search-button {
  width: 84px;
  height: 49px;
  vertical-align: bottom;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
  background-color: transparent;
  border: 2px solid black;
  opacity: 0;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  position: relative;
  margin-top: 39px;
  padding-left: 60px;
  padding-top: 35px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header-logo {
  position: absolute;
  top: -18px;
}

.user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.user-panel-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.user-panel-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  margin-right: 40px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.wrapper-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 268px;
  margin-right: 20px;
}

.logout-link {
  margin: 0;
  padding: 0;
  background: none;
  opacity: 0.3;
}

.user-link,
.login-link {
  margin-right: 19px;
  padding-left: 28px;
  background-image: url("../img/user.svg");
  background-position-x: 2px;
}

.compare-link {
  background-image: url("../img/compare.svg");
}

.basket-link {
  background-image: url("../img/cart.svg");
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-navigation:before {
  content: "";
  display: inline-block;
  min-height: 75px;
  vertical-align: middle;
  visibility: hidden;
}

.link-text {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-link {
  position: relative;
  width: 500px;
}

.catalog-link::before,
.catalog-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 230px;
  width: 16px;
  height: 2px;
  background-color: #bbac76;
}

.catalog-link::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation-link {
  margin-right: 36px;
}

.site-navigation-link:nth-child(3n) {
  margin-right: 57px;
  margin-left: auto;
}

.site-navigation-catalog {
  position: absolute;
  top: 137px;
  left: 0;
  z-index: 2;
  display: none;
  width: 1160px;
  padding: 21px 60px 34px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
  color: #000000;
  background-color: #f7e296;
}

.main-navigation>a:hover~.site-navigation-catalog,
.main-navigation>a:focus~.site-navigation-catalog,
.site-navigation-catalog:hover,
.site-navigation-catalog:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.all-devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 201px;
  padding-right: 58px;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-panel-link:hover,
.user-panel-link:focus,
.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus,
.footer-site-navigation-link:hover,
.footer-site-navigation-link:focus,
.social-button:hover,
.social-button:focus,
.footer-logo-html:hover,
.footer-logo-html:focus {
  opacity: 0.6;
}

.main-navigation a:active,
.user-panel-link:active,
.main-header-logo:active,
.main-footer-logo:active,
.footer-site-navigation-link:active,
.social-button:active,
.footer-logo-html:active,
.footer-panel-link:active {
  opacity: 0.3;
}

.footer-panel-link-text:hover,
.footer-panel-link-text:focus {
  opacity: 1;
}

.logout-link:hover,
.logout-link:focus,
.logout-link:active {
  opacity: 0.3;
}

.main-slider {
  position: relative;
}

.slides {
  display: none;
  margin-bottom: 106px;
  padding-left: 90px;
  background-image: -webkit-linear-gradient(top, rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
  background-image: -o-linear-gradient(top, rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
}

.slide-2 {
  margin-bottom: 95px;
}

.slide-3 {
  margin-bottom: 112px;
}

.slides-img-first {}

.slides-img-second {
  margin-left: 27px;
  margin-top: 12px;
}

.slides-img-third {
  height: 334px;
  margin-left: -59px;
  margin-top: 67px;
}

.slides-describe {
  position: relative;
  margin-top: 80px;
  padding-right: 40px;
}

.slides-describe::before {
  content: "";
  position: absolute;
  top: -43px;
  left: 1px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slides-describe::after {
  position: absolute;
  top: -18px;
  right: 47px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.slide-1 .slides-describe::after {
  content: "01";
}

.slide-2 .slides-describe::after {
  content: "02";
}

.slide-3 .slides-describe::after {
  content: "03";
}

.slides-describe .slides-caption {
  position: relative;
  z-index: 1;
  line-height: 56px;
  white-space: pre-line;
}

.slides-text {
  margin: 19px 40px 44px 0;
  padding: 0;
  white-space: pre-line;
}

.slides-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 40px;
  margin-bottom: 49px;
}

.slides-link {
  min-width: 220px;
  padding-left: 28px;
}

.slides-thumbnails {
  position: absolute;
  top: 314px;
  right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 81px;
  padding-right: 3px;
  padding-top: 14px;
}

.slides-thumbnail-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
}

.slides-thumbnail-big-current .slides-thumbnail-small {
  width: 5px;
  height: 5px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
}

.slides-table {
  border-collapse: collapse;
}

.slides-table-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.slides-table-data {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #000000;
}

.slides-table-caption {
  padding-top: 6px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.table-header {
  font-weight: 300;
}

.table-first-property {
  width: 159px;
}

.table-second-property {
  width: 140px;
}

.devices {
  margin-bottom: 79px;
}

.devices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.devices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  min-height: 243px;
  margin-right: 40px;
  background-image: -webkit-linear-gradient(top, rgba(240, 197, 46, 0.5) 160px, #ffffff 160px);
  background-image: -o-linear-gradient(top, rgba(240, 197, 46, 0.5) 160px, #ffffff 160px);
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 160px, #ffffff 160px);
}

.devices-item:nth-child(6n) {
  margin-right: 0;
}

.devices-item:hover {
  background-image: -webkit-linear-gradient(top, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
  background-image: -o-linear-gradient(top, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
}

.devices-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position-y: 29%;
  background-position-x: center;
}

.devices-item-img:active {
  opacity: 0.3;
}

.devices-item-link {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 195px;
}

.item-vr {
  background-image: url("../img/popular-1.svg");
}

.item-ms {
  background-image: url("../img/popular-2.svg");
  background-position-y: 33%;
}

.item-ac {
  background-image: url("../img/popular-3.svg");
  background-position-x: 55%;
  background-position-y: 25%;
}

.item-fb {
  background-image: url("../img/popular-4.svg");
}

.item-sw {
  background-image: url("../img/popular-5.svg");
  background-position-x: 53%;
  background-position-y: 23%;
}

.item-kv {
  background-image: url("../img/popular-6.svg");
  background-position-x: 46%;
}

.services {
  min-height: 388px;
  margin-bottom: 95px;
  background-color: #e5e5e5;
}

.wrapper-services {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e5e5e5;
}

.services-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 284px;
  min-height: 320px;
  padding-top: 81px;
  border-right: 6px solid #000000;
}

.wrapper-services-button {
  margin-bottom: 25px;
}

.services-button {
  min-width: 160px;
  padding-top: 1px;
  padding-right: 12px;
  padding-left: 15px;
  background-color: transparent;
  border: 0;
}

.services-button:focus,
.services-button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
  outline: none;
}

.wrapper-services-button:focus,
.wrapper-services-button:active {
  background-color: #000000;
  outline: none;
}

.services-button-current {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.services-button-current:hover,
.services-button-current:focus {
  background-color: #000000;
}

.services-gradient {
  background-image: -webkit-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);
  background-image: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.section-caption {
  margin: 0;
  padding: 0;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
  color: #000000;
}

.delivery-caption {
  margin-bottom: 32px;
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 876px;
  margin: 0;
  padding-top: 74px;
  padding-right: 65px;
  padding-bottom: 0;
  padding-left: 116px;
}

.services-image-delivery {
  width: 136px;
  height: 164px;
  margin-top: 11px;
  background-image: url("../img/delivery.svg");
}

.services-image-warranty {
  width: 171px;
  height: 195px;
  margin-top: -13px;
  margin-right: -20px;
  background-image: url("../img/warranty.svg");
}

.services-image-credit {
  width: 156px;
  height: 188px;
  margin-right: 5px;
  margin-top: -10px;
  background-image: url("../img/credit.svg");
}

.services-text {
  width: 426px;
}

.services-text p {
  margin: 0;
  padding: 0;
}

.brends {
  margin-bottom: 96px;
}

.brends-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brends-list li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
  width: 260px;
  margin-right: 40px;
  font-size: 0;
  line-height: 0;
}

.brends-list li:nth-child(4n) {
  margin-right: 0;
}

.brend-item {
  opacity: 0.2;
}

.brend-item:hover {
  opacity: 1;
}

.wrapper-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 82px;
}

.info-block {
  position: relative;
  width: 580px;
  margin-left: -1px;
  padding-top: 50px;
}

.info-block::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info-block p {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.about-us p {
  margin-bottom: 30px;
  padding-right: 105px;
}

.info-block-caption {
  margin-bottom: 43px;
}

.delivery-company-list {
  margin: 66px 0 55px 18px;
  padding: 0;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #000000;
  list-style-type: circle;
}

.delivery-company-item {
  position: relative;
  left: 17px;
}

.contacts {
  padding-left: 18px;
}

.contacts::before {
  left: 20px;
}

.contacts .map-text {
  margin-bottom: 40px;
}

.contacts .map {
  margin-bottom: 59px;
}

.info-link {
  min-width: 260px;
  padding-left: 26px;
}

.catalog-caption {
  margin-top: 38px;
  margin-bottom: 23px;
  margin-left: 202px;
}

.catalog-main-caption {
  margin-top: 36px;
  margin-bottom: 24px;
  padding-left: 59px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 59px;
  padding-bottom: 41px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;
  margin-right: 38px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -20px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current::after {
  display: none;
}

.wrapper-catalog {
  background-image:
    -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(218, 218, 218, 0.5)), color-stop(30%, rgba(255, 255, 255, 0.5)));
  background-image:
    -webkit-linear-gradient(left, rgba(218, 218, 218, 0.5) 27%, rgba(255, 255, 255, 0.5) 27%);
  background-image:
    -o-linear-gradient(left, rgba(218, 218, 218, 0.5) 27%, rgba(255, 255, 255, 0.5) 27%);
  background-image:
    linear-gradient(to right, rgba(218, 218, 218, 0.5) 27%, rgba(255, 255, 255, 0.5) 27%);
}

.wrapper-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 4px;
  background-color: rgba(218, 218, 218, 0.5);
}

.filter-panel:before {
  content: "";
  display: inline-block;
  min-height: 71px;
  vertical-align: middle;
  visibility: hidden;
}

.filter-panel-caption-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 327px;
  padding-left: 61px;
  font-size: 16px;
  background-color: #e3e3e3;
}

.filter-panel-caption-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 73px;
  margin-right: 51px;
  font-size: 16px;
}

.wrapper-filter-panel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 500px;
  padding-bottom: 5px;
}

.filter-panel-item {
  margin-right: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-panel-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-panel-item:active {
  color: rgba(0, 0, 0, 1);
}

.filter-panel-item-current {
  color: rgba(0, 0, 0, 1);
}

.filter-panel-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-left: 18px;
  padding: 0;
}

.filter-panel-arrow::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 10px solid #000000;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  opacity: 0.3;
}

.filter-panel-arrow:hover::after {
  opacity: 0.6;
}

.filter-panel-arrow:active::after,
.filter-panel-arrow-current::after {
  opacity: 1;
}

.arrow-up::after,
.arrow-up:hover::after,
.arrow-up:active::after {
  border-top-width: 0;
}

.arrow-down::after,
.arrow-down:hover::after,
.arrow-down:active::after {
  border-bottom-width: 0;
}

.filters {
  width: 327px;
  padding: 68px 64px 60px 58px;
  background-color: #ececec;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 32px;
  border: none;
  border-top: 2px solid #000000;
}

.filter-option-list {
  padding-top: 14px;
  padding-left: 40px;
}

.filter-block-price {
  position: relative;
}

.filter-price {
  position: absolute;
  top: 21px;
  width: 20px;
  height: 20px;
  background-color: #a9bab0;
  border: 8px solid #f8f7f4;
  border-radius: 50%;
}

.filter-price-min {
  left: -3px;
}

.filter-price-max {
  left: 109px;
}

.filter-price:hover {
  width: 22px;
  height: 22px;
  border: 9px solid #f8f7f4;
  cursor: pointer;
}

.filter-price-text-from,
.filter-price-text-to {
  display: inline-block;
  vertical-align: middle;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  opacity: 0.2;
}

.filter-price-text-to {
  margin-left: 59px;
}

.filter-text {
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox+.filter-text::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-checkbox:hover+.filter-text::before,
.filter-input-radio:hover+.filter-text::before,
.filter-input-radio:hover+.filter-text::after {
  opacity: 0.6;
}

.filter-input-checkbox:checked+.filter-text::before,
.filter-input-checkbox:active+.filter-text::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked:active+.filter-text::before {
  width: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio+.filter-text::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 25px;
  height: 25px;
  border: 3px solid #000000;
  border-radius: 50px;
}

.filter-input-radio:checked+.filter-text::after,
.filter-input-radio:active+.filter-text::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -33px;
  width: 7px;
  height: 7px;
  border: 5px solid #000000;
  border-radius: 50px;
}

.filter-input-radio:checked:active+.filter-text::after {
  content: "";
  border: 0 solid transparent;
}

.filter-input-radio:focus+.filter-text,
.filter-input-checkbox:focus+.filter-text {
  outline: auto;
}

.filter-option {
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-button {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 833px;
  padding-left: 73px;
  padding-top: 68px;
  background-color: #ffffff
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -12px;
}

.catalog-item-title {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  white-space: pre-line;
  color: #000000;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: start;
  width: 360px;
}

.wrapper-catalog-img {
  position: relative;
}

.catalog-item-new .wrapper-catalog-img::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-item-new .wrapper-catalog-img::before {
  content: "NEW";
  position: absolute;
  z-index: 3;
  top: 46px;
  right: 37px;
  width: 35px;
  height: 15px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-img-hover {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.wrapper-catalog-img:hover .catalog-img-hover {
  display: block;
}

.catalog-item-button {
  margin: 0;
  margin-top: 53%;
  margin-left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.compare-button {
  margin: 0;
  margin-left: 50%;
  padding: 0;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.5;
  transform: translate(-50%, -13px);
}

.compare-button:hover,
.compare-button:focus {
  opacity: 1;
}

.compare-button:active {
  opacity: 0.2;
}

.wrapper-catalog-item-title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 260px;
  margin-top: 19px;
  margin-bottom: 40px;
}

.catalog-item-price {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 25px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
  color: #464646;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 77px;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #ebebeb;
}

.paginator:before {
  content: "";
  display: inline-block;
  min-height: 70px;
  vertical-align: middle;
  visibility: hidden;
}

.wrapper-paginator-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.paginator-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 27px;
}

.paginator-button:hover,
.paginator-button:focus {
  background-color: #d9d9d9;
  outline: none;
}

.paginator-button-inactive {
  pointer-events: none;
}

.paginator-button.paginator-list-link,
.paginator-button.paginator-list-link:hover {
  color: rgba(0, 0, 0, 1);
}

.paginator-button.paginator-list-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator-list-item-current .paginator-list-link {
  color: rgba(0, 0, 0, 1);
  pointer-events: none;
}

.paginator-list-link {
  color: rgba(0, 0, 0, 0.3);
}

.paginator-list-link:hover,
.paginator-list-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.paginator-list-link:active {
  color: rgba(0, 0, 0, 1);
}

.paginator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 13px;
}

.paginator-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 14px;
}

.main-footer {
  min-height: 322px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-panel-link {
  letter-spacing: 0.2px;
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 63px;
}

.footer-address {
  position: relative;
  width: 250px;
  margin-top: 2px;
}

.footer-address::after {
  content: "";
  position: absolute;
  bottom: 13px;
  width: 80px;
  height: 7px;
  background-color: #ffc600
}

.footer-contacts {
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.wrapper-footer-navigation {
  width: 900px;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 641px;
  margin-bottom: 46px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-site-navigation li {
  padding: 17px;
}

.wrapper-footer-navigation,
.wrapper-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 27px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 11px;
  vertical-align: middle;
  opacity: 0.3;
}

.facebook {
  background-image: url("../img/fb.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.twitter {
  background-image: url("../img/twitter.svg");
}

.footer-panel-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 43px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.footer-login-link-img,
.footer-user-link-img {
  width: 13px;
  height: 12px;
  margin-right: 12px;
  background-image: url("../img/user-footer.svg");
}

.footer-compare-link-img {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background-image: url("../img/compare-footer.svg");
}

.footer-basket-link-img {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-image: url("../img/cart-footer.svg");
}

.footer-basket-link-text,
.footer-compare-link-text,
.footer-user-link-text,
.footer-login-link-text {
  opacity: 0.7;
}

.footer-basket-link:hover .footer-basket-link-text,
.footer-basket-link:focus .footer-basket-link-text,
.footer-compare-link:hover .footer-compare-link-text,
.footer-compare-link:focus .footer-compare-link-text,
.footer-user-link:hover .footer-user-link-text,
.footer-user-link:focus .footer-user-link-text,
.footer-login-link:hover .footer-login-link-text,
.footer-login-link:focus .footer-login-link-text {
  opacity: 1;
}

.footer-basket-link:hover .footer-basket-link-img,
.footer-basket-link:focus .footer-basket-link-img,
.footer-compare-link:hover .footer-compare-link-img,
.footer-compare-link:focus .footer-compare-link-img,
.footer-user-link:hover .footer-user-link-img,
.footer-user-link:focus .footer-user-link-img,
.footer-login-link:hover .footer-login-link-img,
.footer-login-link:focus .footer-login-link-img {
  opacity: 0.6;
}

.footer-logout-link {
  margin-left: 19px;
  opacity: 0.3;
}

.footer-logo-html {
  line-height: 0;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-phone-link {
  margin: 10px 0;
}

@keyframes disappearance {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.8;
  }

  40% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0.6;
  }

  60% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.4;
  }

  80% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  display: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-error {
  animation: disappearance 0.6s;
}

.modal-feedback {
  top: 21px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 90px 100px 80px;
  background-color: #ffffff;
}

.modal-close,
.modal-close-map {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 24px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
}

.modal-close-map:hover,
.modal-close-map:focus,
.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: none;
}

.modal-close-map:active,
.modal-close:active {
  opacity: 0.3;
}

.modal-close-map::before,
.modal-close-map::after,
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 9px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close-map::after,
.modal-close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close-map::before,
.modal-close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.feedback-form-wrap:first-child {
  padding-right: 40px;
}

.feedback-form-label {
  margin-bottom: 5px;
}

.feedback-form-input,
.feedback-form-textarea {
  width: 360px;
  height: 50px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none;
}

.feedback-form-textarea {
  width: 760px;
  height: 156px;
  padding-top: 15px;
}

.feedback-form-input:hover,
.feedback-form-textarea:hover {
  background-color: #eaeaea;
}

.feedback-form-input:invalid,
.feedback-form-textarea:invalid {
  background-color: #f6dada;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.feedback-form-input:focus,
.feedback-form-textarea:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #f8e6a1;
  box-shadow: inset 0 0 0 3px #f8e6a1;
  outline: none;
}

.feedback-form-input::-webkit-input-placeholder,
.feedback-form-textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form-input:-ms-input-placeholder,
.feedback-form-textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form-input::-ms-input-placeholder,
.feedback-form-textarea::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form-input::placeholder,
.feedback-form-textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-button {
  margin: 0;
  margin-top: 6px;
  padding: 0;
}

.modal-map {
  top: 21px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 0;
  background-color: #ffffff;
}

.map-iframe {
  width: 960px;
  min-height: 559px;
  margin: 0;
  padding: 0;
  background-image: url("../img/map.jpg");
  background-size: cover;
}

.slide-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-show {
  display: block;
}
