@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  /* outline: 1px solid green; */
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.site-navigation,
.site-navigation-catalog,
.other-devices,
.hend-devices,
.video-devices,
.footer-social,
.brends-list,
.breadcrumbs,
.catalog-list,
.filter-option-list,
.devices-list,
.footer-site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-right {
  width: 561px;
  margin-left: auto;
}
.feedback-button{
  background: none;
border: none;
/* margin: 0;
padding: 0; */
}
.button {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  padding: 9px 23px 0 23px;
  text-align: center;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  font-size: 0;
}

.search-form-label {
  display: inline-block;
  width: 30px;
  height: 41px;
  vertical-align: bottom;
  background-image: url("../img/search.svg");
  background-position: 3px 7px;
  background-repeat: no-repeat;
}

.search-form-input {
  height: 39px;
  width: 356px;
  margin: 0;
  margin-left: -30px;
  /* margin-bottom: 18px; */
  padding: 0 0 14px 39px;
  vertical-align: bottom;
  border: none;
  background-color: transparent;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus {
  outline: none;
  border-bottom: 2px solid black;
  color: rgba(0, 0, 0, 1);
}

.search-form-label:focus {
  border-bottom: 2px solid black;
}

.search-form-input:focus+.search-button {
  visibility: visible;
}

.search-form-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search-form-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.search-form-input::-webkit-search-decoration,
.search-form-input::-webkit-search-cancel-button,
.search-form-input::-webkit-search-results-button,
.search-form-input::-webkit-search-results-decoration {
  display: none;
}

.search-button {
  visibility: hidden;
  height: 49px;
  width: 84px;
  /* margin-bottom: 9px; */
  vertical-align: bottom;
  border: 2px solid black;
  background-color: transparent;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  position: relative;
  margin-top: 40px;
  padding-left: 60px;
  padding-top: 35px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header-logo {
  position: absolute;
  top: -18px;
}

.user-panel {
  display: flex;
  margin-bottom: 28px;
}

.user-panel-links {
  display: flex;
  flex-wrap: wrap;
}

.user-panel-link {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 40px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.wrapper-login {
  display: flex;
  min-width: 268px;
  margin-right: 20px;
}

/* .login-link,
.user-link {
  margin: 0;
  margin-right: 20px;
  padding: 0;
} */
.logout-link{
    margin: 0;
    padding: 0;
    background: none;
    opacity: 0.3;
}

.user-link,
.login-link{
    padding-left: 28px;
    margin-right: 19px;
    background-image: url(../img/user.svg);
    background-position-x: 2px;
}

.compare-link {
  background-image: url(../img/compare.svg);
}

.basket-link {
  background-image: url(../img/cart.svg);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 75px;
}

/* .catalog-body .main-navigation {
  min-height: 70px;
} */
.link-text {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-link {
  /* width:500px; - непонятно, может быть оставить, если site-navigation-catalog будет узким, то уедет вверхы */
  position: relative;
}

.catalog-link::before,
.catalog-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 230px;
  width: 16px;
  height: 2px;
  background-color: #bbac76;
}

.catalog-link::after {
  transform: rotate(90deg);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-link {
  margin-right: 36px;
}

.site-navigation-link:nth-child(3n) {
  margin-right: 57px;
  margin-left: auto;
}

.site-navigation-catalog {
  display: none;
  position: absolute;
  top: 149px;
  left: 0;
  width: 1160px;
  /* background-color: rgba(240, 197, 46, 1); */
  background-color: #f7e296;
  padding: 21px 60px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
  text-transform: none;
}

.main-navigation>a:hover~.site-navigation-catalog,
.main-navigation>a:focus~.site-navigation-catalog,
.site-navigation-catalog:hover,
.site-navigation-catalog:focus {
  display: flex;
  flex-wrap: wrap;
}

.all-devices {
  display: flex;
  flex-direction: column;
  min-width: 201px;
  padding-right: 58px;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-panel-link:hover,
.user-panel-link:focus,
.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus,
.footer-site-navigation-link:hover,
.footer-site-navigation-link:focus,
.social-button:hover,
.social-button:focus,
.footer-logo-html:hover,
.footer-logo-html:focus{
  opacity: 0.6;
}

.main-navigation a:active,
.user-panel-link:active,
.main-header-logo:active,
.main-footer-logo:active,
.footer-site-navigation-link:active,
.social-button:active,
.footer-logo-html:active,
.footer-panel-link:active {
  opacity: 0.3;
}

.footer-panel-link-text:hover,
.footer-panel-link-text:focus {
  opacity: 1;
}

.logout-link:hover,
.logout-link:focus,
.logout-link:active{
    opacity:0.3;
}

.slides {
  display: flex;
  padding-left: 90px;
  margin-bottom: 106px;
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
}

.slides-img-first {}

.slides-img-second {
  margin-left: 10px;
  margin-top: 22px;
}

.slides-img-third {
  margin-left: -76px;
  margin-top: 67px;
}

.slides-describe {
  margin-top: 80px;
  padding-right: 40px;
  position: relative;
}

.slides-describe::before {
  content: "";
  position: absolute;
  top: -43px;
  left: 1px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slides-describe::after {
  content: "01";
  position: absolute;
  top: -18px;
  left: 330px;
  font-family: Gilroy;
  font-size: 179px;
  font-weight: 800;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.slides-describe .slides-caption {
  line-height: 56px;
  white-space: pre-line;
  position: relative;
  z-index: 1;
}

.slides-text {
  padding: 0;
  margin: 19px 40px 44px 0;
  white-space: pre-line;
}

.slides-panel {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slides-link {
  padding-left: 28px;
  min-width: 220px;
}

.slides-thumbnails {
  display: flex;
  justify-content: space-between;
  width: 81px;
  padding-right: 3px;
  padding-top: 14px;
}

.slides-thumbnail-big {
  display: flex;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
}

.slides-thumbnail-small {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
}

.slides-table {
  border-collapse: collapse;
}

.slides-table-body {
  display: flex;
  flex-direction: column-reverse;
}

.slides-table-data {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #000000;
}

.slides-table-caption {
  padding-top: 6px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.table-first-property {
  width: 159px;
}

.table-second-property {
  width: 140px;
}

.devices {
  margin-bottom: 79px;
}

.devices-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.devices-item {
  display: flex;
  width: 160px;
  min-height: 243px;
  margin-right: 40px;
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 160px, #ffffff 160px);
}

.devices-item:nth-child(6n) {
  margin-right: 0px;
}

.devices-item:hover {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 160px, #ffffff 160px);
}

.devices-item-img {
  display: flex;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position-y: 29%;
  background-position-x: center;
}

.devices-item-img:active {
  opacity: 0.3;
}

.devices-item-link {
  padding-top: 195px;
  flex-grow: 1;
  white-space: pre-line;
}

.item-vr {
  background-image: url("../img/popular-1.svg");
}

.item-ms {
  background-image: url("../img/popular-2.svg");
  background-position-y: 33%;
}

.item-ac {
  background-image: url("../img/popular-3.svg");
  background-position-y: 25%;
  background-position-x: 55%;
}

.item-fb {
  background-image: url("../img/popular-4.svg");
}

.item-sw {
  background-image: url("../img/popular-5.svg");
  background-position-y: 23%;
  background-position-x: 53%;
}

.item-kv {
  background-image: url("../img/popular-6.svg");
  background-position-x: 46%;
}

.services {
  min-height: 388px;
  margin-bottom: 95px;
  background-color: #e5e5e5;
}

.wrapper-services {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e5e5e5;
}

.services-buttons {
  padding-top: 81px;
  width: 284px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-right: 6px solid #000000;
}

.wrapper-services-button {
  /* padding-right: 118px; */
  margin-bottom: 25px;
}

.services-button {
  min-width: 160px;
  border: 0;
  padding-top: 1px;
  padding-right: 12px;
  padding-left: 15px;
  background-color: transparent;
}

/* .services-button:focus {
  background-color: transparent;
} */
.services-button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.wrapper-services-button:active {
  background-color: #000000;
}

.services-button-current {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.services-button.services-button-current:hover {
  background-color: #000000;
}

.services-gradient {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
}

.section-caption {
  margin: 0;
  padding: 0;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.47px;
  color: #000000;
}

.delivery-caption {
  margin-bottom: 32px;
}

.services-content {
  margin: 0;
  padding: 0;
  width: 876px;
  padding-left: 116px;
  padding-right: 65px;
  padding-top: 74px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* .services-image {
  margin-top: 11px;
  width: 136px;
  height: 164px;
} */
.services-image-delivery {
  margin-top: 11px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.services-image-warranty {
  margin-top: 11px;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.services-image-credit {
  margin-top: 11px;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.services-text {
  width: 426px;
}

.services-text p {
  margin: 0;
  padding: 0;
}

.brends {
  margin-bottom: 96px;
}

.brends-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brends-list a,
.brends-list li {
  font-size: 0;
  line-height: 0;
}

.brend-item {
  opacity: 0.2;
}

.brend-item:hover {
  opacity: 1;
}

.wrapper-info-block {
  display: flex;
  justify-content: space-between;
}

.info-block {
  position: relative;
  width: 580px;
  padding-top: 50px;
  margin-left: -1px;
}

.info-block::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info-block p {
  padding: 0;
  margin: 0;
  letter-spacing: normal;
}

.about-us p {
  padding-right: 105px;
  margin-bottom: 30px;
}

.info-block-caption {
  margin-bottom: 43px;
}

.delivery-company-list {
  margin: 66px 0px 55px 18px;
  padding: 0;
  list-style-type: circle;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #000000;
}

.delivery-company-item {
  position: relative;
  left: 17px;
}

.contacts {
  padding-left: 18px;
}

.contacts::before {
  left: 20px;
}

.contacts .map-text {
  margin-bottom: 40px;
}

.contacts .map {
  margin-bottom: 59px;
}

.info-link {
  min-width: 260px;
  padding-left: 26px;
}

.catalog-caption {
  margin-top: 38px;
  margin-bottom: 23px;
  margin-left: 202px;
}

.breadcrumbs {
  display: flex;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.wrapper-catalog {
  background-image: linear-gradient(to right, #ebebeb 35%, #ffffff 35%);
  /* background-color: #ebebeb; */
}

.wrapper-filters {
  display: flex;
}

.filters {
  /* width: 469px; */
  width: 327px;
}

.catalog {
  width: 833px;
  background-color: #ffffff
}

.catalog-list {
  padding: 68px 0 0 73px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item-title {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.catalog-item {
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-option {
  font-family: "open_sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #000000;
}

.main-footer {
  margin-top: 82px;
  min-height: 322px;
  font-family: "open_sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.footer-panel-link {
  letter-spacing: 0.2px;
}

.wrapper-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 63px;
}

.footer-address {
  position: relative;
  width: 250px;
  margin-top: 2px;
}

.footer-address::after {
  content: "";
  position: absolute;
  bottom: 21px;
  width: 80px;
  height: 7px;
  background-color: #ffc600
}

.footer-contacts {
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

.wrapper-footer-navigation {
  width: 900px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 641px;
  justify-content: center;
  margin-bottom: 46px;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-navigation li {
  padding: 17px;
}

.wrapper-footer-navigation,
.wrapper-site-navigation {
  display: flex;
  flex-direction: column;
}

.footer-user-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 27px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 11px;
  opacity: 0.3;
}

.facebook {
  background-image: url(../img/fb.svg);
}

.instagram {
  background-image: url(../img/instagram.svg);
}

.twitter {
  background-image: url(../img/twitter.svg);
}

.footer-panel-link {
  display: flex;
  align-items: center;
  margin-left: 43px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* .footer-login-link {
  margin: 0;
  padding: 0;
} */

.footer-login-link-img,
.footer-user-link-img{
    width: 13px;
    height: 12px;
    margin-right: 12px;
  background-image: url(../img/user-footer.svg);
}
.footer-compare-link-img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
  background-image: url(../img/compare-footer.svg);
}

.footer-basket-link-img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  background-image: url(../img/cart-footer.svg);
}

.footer-basket-link-text,
.footer-compare-link-text,
.footer-user-link-text,
.footer-login-link-text {
  opacity: 0.7;
}
.footer-basket-link:hover .footer-basket-link-text,
.footer-basket-link:focus .footer-basket-link-text,
.footer-compare-link:hover .footer-compare-link-text,
.footer-compare-link:focus .footer-compare-link-text,
.footer-user-link:hover .footer-user-link-text,
.footer-user-link:focus .footer-user-link-text,
.footer-login-link:hover .footer-login-link-text,
.footer-login-link:focus .footer-login-link-text{
    opacity: 1;
}
.footer-basket-link:hover .footer-basket-link-img,
.footer-basket-link:focus .footer-basket-link-img,
.footer-compare-link:hover .footer-compare-link-img,
.footer-compare-link:focus .footer-compare-link-img,
.footer-user-link:hover .footer-user-link-img,
.footer-user-link:focus .footer-user-link-img,
.footer-login-link:hover .footer-login-link-img,
.footer-login-link:focus .footer-login-link-img{
    opacity: 0.6;
}
.footer-logout-link{
margin-left: 19px;
opacity: 0.3;
}

.footer-logo-html {
  padding-bottom: 8px;
  line-height: 0;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-phone-link {
  margin: 10px 0;
}
.modal{
  position: fixed;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 10;
}
.modal-feedback{
  width: 960px;
  top:70px;
  left: 50%;
  margin-left: -480px;
  padding: 90px 100px 80px;
  background-color: #ffffff;
}
.modal-close{
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.5;
  font-size: 0px;
}
.modal-close:hover,
.modal-close:focus{
    opacity: 1;
    outline: none;
}
.modal-close:active{
    opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 9px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::after {
  transform: rotate(45deg);
}
.modal-close::before {
  transform: rotate(-45deg);
}

.feedback-form{
  display: flex;
  flex-wrap: wrap;
}
.feedback-form-wrap{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0px;
  margin-bottom: 36px;
  padding: 0px;
}
.feedback-form-wrap:first-child {
    padding-right: 40px;
  }
.feedback-form-label{
  margin-bottom: 5px;
}
.feedback-form-input,
.feedback-form-textarea{
  width: 360px;
  height: 50px;
  padding-left: 22px;
  border: none;
  background-color: #f2f2f2;
}
.feedback-form-textarea{
  width: 760px;
  height: 156px;
      padding-top: 15px;
}
.feedback-form-input:hover,
.feedback-form-textarea:hover{
    background-color: #eaeaea;
}
.feedback-form-input:invalid,
.feedback-form-textarea:invalid{
    background-color: #f6dada;
    box-shadow: none;
    outline: none;
}
.feedback-form-input:focus,
.feedback-form-textarea:focus{
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #f8e6a1;
    outline: none;
}
.feedback-form-input::placeholder,
.feedback-form-textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
 }
.feedback-button{
margin: 0;
padding: 0;
}
